body {
  font-family: Arial, sans-serif;
  background-color: #101827;
  color: rgb(53, 17, 17);
}
.nav {
  transform: translateY(100px);
  width: 100%;
  min-height: 55px;
  text-align: center;
  background-color: #4fc3f7;
  margin-top: 100px;
  position: absolute;
  z-index: 3;
}
a {
  display: inline-block;
  width: 10%;
  padding-top: -20px;
  font-size: 1.5rem;
  text-decoration: none;
  color: #8600df;
  font-weight: bold;
  background-color: orange;
  transform: translateY(10px);
}
a:hover {
  color: red;
}
a:link {
  color: #2ee600;
}

img {
  transform: translateX(845px);
  position: absolute;
  z-index: 2;
}
h1,
h2 {
  color: coral;
  text-align: center;
}
p {
  color: rgb(255, 115, 0);
  text-align: center;
}
p:hover {
  color: rgb(255, 208, 0);
  font-size: 17px;
}
table {
  width: 95%;
  margin: 40px auto;
  border-collapse: collapse;
  background-color: #1b2638;
  color: white;
}

th {
  background-color: orange;
  color: black;
  padding: 15px;
  font-size: 18px;
}

td {
  border: 3px solid #4fc3f7;
  padding: 15px;
  text-align: center;
  vertical-align: top;
}

td img {
  margin: 5px;
}

td h2 {
  color: orange;
}
